.crypto-icon-img,
.crypto-icon-fa {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    flex-shrink: 0;
}

/* Sizes */
.crypto-icon-sm {
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.crypto-icon-md {
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.crypto-icon-lg {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.crypto-icon-xl {
    width: 48px;
    height: 48px;
    font-size: 48px;
}

/* Image specific */
.crypto-icon-img {
    border-radius: 50%;
}